version: '3'

services:
  web:
    build: .
    ports:
      - "3000:3000"
    depends_on:
      - db
    environment:
      - DATABASE_URL: postgres://postgres:password@db:5432/mydatabase

  db:
    image: postgres:latest
    environment:
      - POSTGRES_USER: postgres
      - POSTGRES_PASSWORD: password
      - POSTGRES_DB: mydatabase
